<!-- Navigation-->
<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img style="height: 100px" src="img/logo.png" ></img></a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        
          <table class="navbar-nav ml-auto my-2 my-lg-0">
            <tr>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/sign-up">Sign Up</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/sign-in">Login</a></th>
               <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/search"><input type="text" placeholder="Search"></a></th>
            </tr>
            <tr>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/search">Shop Directory</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/new-post">Business Owners</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/landing-page"><div class="dropdown">
                  <button class="dropbtn nav-item">About</button>
                  <div class="dropdown-content">
                    <a href="/how-does-it-work">How Does It Work?</a>
                    <a href="/help-faq">Help/FAQ</a>
                    <a href="/who-we-are">Who We Are</a>
                    <a href="/contact-us">Contact Us</a>
                  </div>
                </div></a></th>
            </tr>
          </table>
        </div>
    </div>
</nav>-->





<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

          
            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="/"><img src="img/logo.png" alt="alternative"></a> 
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
               
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link page-scroll" href="/about">ABOUT</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link page-scroll" href="/business-owners">BUSINESS OWNERS</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link page-scroll" href="/shop"> SHOP</a>
                    </li>
                   

                        <li class="nav-item">
                        <a class="nav-link page-scroll" href="/login">SIGN IN</a></li>
                        
                        <li class="nav-item">
                        <a class="nav-link page-scroll" href="/sign-up">SIGN UP</a></li>
                    <li class="nav-item dropdown">
                     
                          
                        </div>
                      </li>
                  
                  
                 


                    
                   

                   
                </ul>
                <!-- <span class="nav-item">
                    <a class="btn-outline-sm" href="log-in.html">LOG IN</a>
                </span> -->
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->