<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img style="height: 100px" src="img/logo.png" ></img></a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        
          <table class="navbar-nav ml-auto my-2 my-lg-0">
            <tr>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/sign-up">Sign Up</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/sign-in">Login</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/search"><input type="text" placeholder="Search"></a></th>
            </tr>
            <tr>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/search">Shop Directory</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/new-post">Business Owners</a></th>
                <th class="nav-item"><a class="nav-link js-scroll-trigger" href="/landing-page"><div class="dropdown">
                  <button class="dropbtn nav-item">About</button>
                  <div class="dropdown-content">
                    <a href="/how-does-it-work">How Does It Work?</a>
                    <a href="/help-faq">Help/FAQ</a>
                    <a href="/who-we-are">Who We Are</a>
                    <a href="/contact-us">Contact Us</a>
                  </div>
                </div></a></th>
            </tr>
          </table>
        </div>
    </div>
</nav>