<!DOCTYPE html>
<html lang="en">
    <!-- Styles -->

    <title>Local | About</title>
    <%- include('layouts/header'); -%>
    <body >
        <%- include('layouts/navbar'); -%>
        <!-- Main Content -->
        


    
        <!-- Header -->
                                <header id="header" class="ex-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>About Local</h1>
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                </header> <!-- end of ex-header -->
                                <!-- end of header -->
                            
                            
                                <!-- Breadcrumbs -->
                                <div class="ex-basic-1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="breadcrumbs">
                                                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>About Local</span>
                                                </div> <!-- end of breadcrumbs -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                </div> <!-- end of ex-basic-1 -->
                                <!-- end of breadcrumbs -->
                            
                            
                                <!-- Privacy Content -->
                                <div class="ex-basic-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="image-container-large">
                                                    <img class="img-fluid" src="https://amazing-pike-086723.netlify.app/images/LOCAL-3.png" alt="alternative">
                                                </div> <!-- end of image-container-large -->
                                                <div class="text-container">
                                                    <h3>How Does This Work?</h3>
                                                    <p>Local is a community program that connects customers with small, locally owned, neighborhood businesses.  By shopping within our community you can save 10% on purchases that meet a minimum spend.</p>
                                                    <p>Our directory makes it easy to know where to find things locally.  Find new shops, cafes, and markets in your own backyard.  </p>
                                                    <p>Your Localist membership card is all you need to save.  And no need to add another card to your wallet, you can easily access your card on your phone - even when offline.  </p>
                                                    </div>
                                            </div>
                                            </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                    <div class="text-container">
                                                      <h3>Who we are</h3>
                                                      <p>During the Covid-19 pandemic small businesses were hurting - and we wanted to help.  We made Local as a way to encourage people to shop in their own backyards.  Small businesses are essential to our economies and are a beautiful part of our communities.  By helping provide incentive and giving these businesses much needed exposure, Local aims to increase demand for small business and allow our communities to thrive.  </p>
                                                      <p> We value community, sustainability, and kindness.  As such, all of our small business partners are chosen with care and in accordance with these values.  </p>
                            
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                    <div class="text-container">
                                                      <h3>Who we are</h3>
                                                      <p>During the Covid-19 pandemic small businesses were hurting - and we wanted to help.  We made Local as a way to encourage people to shop in their own backyards.  Small businesses are essential to our economies and are a beautiful part of our communities.  By helping provide incentive and giving these businesses much needed exposure, Local aims to increase demand for small business and allow our communities to thrive.  </p>
                                                      <p> We value community, sustainability, and kindness.  As such, all of our small business partners are chosen with care and in accordance with these values.  </p>
                            
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                           <!-- end of image-container-large -->
                                                            <div class="text-container">
                                                                <h3>FAQ</h3>
                                                               <h5>How do we pick our business members?</h5>
                                                                <p>There are three main criteria for becoming one of our business members  </p>
                                                                <ul>
                                                                <li> the business must have 3 or fewer locations</li>
                                                                <li>the business much be privately held without corporate ownership</li>
                                                                <li>the business must be owned locally</li>
                                                                <li>the business must not contain products or services that are against our restrictions/values(ie., Child pornagraphy, illegal substances, hate speech)</li>
                                                             
                                                                </ul>
                                                              <p>We then work together with businesses to determine how discounting can work for them!</p>

                                                              <p>Interested businesses can find more information <a href="">here</a>.</p>
                                                              <h5>What do I do if a business doesn’t give me my discount?</h5>
                                                              <p>If there is any issue at all with any of our small business partners, please contact us so we can help negotiate a solution!  It is important to us that everyone is heard, respected, and that all terms and conditions of our program are honoured.</p>

                                                              <h5>What is the minimum spend?</h5>
                                                              <p>The minimum spend is different for every business and is clearly laid out on their profile.</p>
                                                              <p>We decide the minimum spend together with the small business owner so that it is reasonable and beneficial for everyone. </p>

                                                              <h5>Can I use Local if I am travelling?</h5>
                                                              <p>Absolutely!  You can use Local anywhere that you happen to be.  Our goal is to help you find and use small businesses, not to limit you.</p>

                                                              <h5>Can I use Local offline?</h5>
                                                              <p>Yes and no. You won’t be able to search the directory without the internet, but you can absolutely use your membership card.  Simply download your card and you can still access discounts at all your favourite spots.</p>
                                                                </div>
                                                        </div>
                                                        <div class = "row">
                                                        <div class="col-lg-12">
                                                        <h3>Contact Us</h3>
                                                        <p>Have any questions?  Feel free to drop us a line if you're curious, interested, or have any problems at all.  </p>
                                                        <p> Call us at: <a href="tel:905-000-0000">905-000-0000</a> Email us: <a href="mailto:contact@local.ca"> contact@local.ca</a></p>
                                                    </div>
                                                    </div>

                                                    </div>
                                                    </div>
                                                    </div>
                             
                    
             


   
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>