
<!DOCTYPE html>
<html lang="en">
  <title>Contact Us</title>
  <%- include('layouts/header'); -%>
  <body id="page-top"> <!--style="background: linear-gradient(to right, #0062E6, #33AEFF); font-color: white !important;"-->
      <%- include('layouts/navbar'); -%>
      
      <!-- Services-->
      <section style="text-align: center;" class="page-section" id="services">
          <h1>CONTACT US</h1><br>
          <div class="container">
              Have any questions?<br><br>
              
              Feel free to drop us a line if you're curious, interested, or have any problems at all.  <br><br>


              Info@Local.ca<br><br>
              905-000-0000
          </div>
      </section>

      <div style="text-align: center; margin-left: 50px; margin-right: 50px;" id="demo"></div>

</html>

