<!DOCTYPE html>
<html lang="en">
    <!-- Styles -->
    <link href="css/create.css" rel="stylesheet" />
    <title>Add Business</title>
    <%- include('layouts/header'); -%>
    <body id="page-top">
        <%- include('layouts/navbar'); -%>
        <!-- Main Content -->
        <div id="maincontent" class="container">
          <h1 style="text-align: center;">WANT TO ADD YOUR BUSINESS TO LOCAL?</h1><br>
          <div class="row" >
              <div class="col-lg-8 col-md-10 mx-auto">
                <form action="/posts/store" method="POST">
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>First Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Last Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Company Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                     <div class="form-group floating-label-form-group controls">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Company Address</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title"
                          id="title" name="title" >
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Description</label>
                        <textarea rows="5" class="form-control"
                          id="body" name="body" ></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="business" value="XYZ company"></input>
                  <br>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                        id="sendMessageButton">Send</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>