<!DOCTYPE html>
<html lang="en">
    <!-- Styles -->
    <link href="css/create.css" rel="stylesheet" />
    <title>Add Business</title>
    <%- include('layouts/header'); -%>
    <body >
        <%- include('layouts/navbar'); -%>
        <!-- Main Content -->
            <header id="header" class="ex-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="text-down">Business Owners</h1>
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                </header> <!-- end of ex-header -->
                                <!-- end of header -->
         
          <div class="ex-basic-1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="breadcrumbs">
                                                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Business Owners</span>
                                                </div> <!-- end of breadcrumbs -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                </div> <!-- end of ex-basic-1 -->
                                <!-- end of breadcrumbs --> 
                                
        
        <div  class="container">
          
          <div class="ex-basic-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                
                                                <div class="text-container">
                                                    
                                                    <p>We consider our small business members to be our partners. </p>
                                                    <p>Together, we can help you thrive by finding new customers, incentivising existing customers, and increasing your overall revenue.</p>
                                                    <p>This is a partnership, if you have questions, concerns, or any issues at all, please let us know!  Every business member is connected with a representative for ease of communication, problem solving, and implementation.</p>
                                                    <p>We want to see you thrive!</p>
                                                    <p>There are three main criteria for becoming one of our business members</p>
                                                    <ul>
                                                    
                                                    <li>the business must have 3 or fewer locations</li>
                                                    <li>the business much be privately held without corporate ownership</li>
                                                    <li>the business must be owned locally</li>

                                                    </ul>
                                                    <p>If you fit these then we would love to work with you! </p>
                                                    <p>Our small business members are so valuable to us, in return they receive increased exposure, the ability to easily advertise and facilitate promotions, and incentives for new customers.  </p>
                                                    <p>We work together with businesses to determine how discounting can work for them!  Our program offers a standard 10% for customers in our program with a minimum spend - but what that minimum is will be determined in conversation with the business owners.  </p>
                                                    <p>Our business owners are involved with the building of their company profile, their branding on our site, and are able to leave the program with a month’s notice. </p>
                                                    <p>If you are interested in becoming a business member, or would like more information, please fill out the form below.  </p>
                                                    </div>
                                            </div>
                                            </div>
                                              </div>
                                              </div>      
                                                    
                                                    

                                                    
          
          
          
          <h1 >WANT TO ADD YOUR BUSINESS TO LOCAL?</h1><br>
          <div class="row" >
              <div class="col-lg-12">
                <form action="/posts/store" method="POST">
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>First Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Last Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Company Name</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                     <div class="form-group floating-label-form-group controls">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label>Company Address</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title"
                          id="title" name="title" >
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Description</label>
                        <textarea rows="5" class="form-control"
                          id="body" name="body" ></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="business" value="XYZ company"></input>
                  <br>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                        id="sendMessageButton">Send</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>