<!DOCTYPE html>
<html lang="en">
  <title>Help/FAQ</title>
  <%- include('layouts/header'); -%>
  <body id="page-top"> <!--style="background: linear-gradient(to right, #0062E6, #33AEFF); font-color: white !important;"-->
      <%- include('layouts/navbar'); -%>
      
      <!-- Services-->
      <section class="page-section" id="services">

         <h1 style="text-align: center;">HELP/FAQ?</h1><br>

          <div class="container">
              <b>How do we pick our business members?</b><br>

              There are three main criteria for becoming one of our business members<br>

              -the business must have 3 or fewer locations<br>
              -the business much be privately held without corporate ownership<br>
              -the business must be owned locally<br>

              We then work together with businesses to determine how discounting can work for them!<br>

              Interested businesses can find more information <a href="/landing-page">here</a>. <br><br>


              <b>What do I do if a business doesn’t give me my discount?</b><br>

              If there is any issue at all with any of our small business partners, please contact us so we can help negotiate a solution!  It is important to us that everyone is heard, respected, and that all terms and conditions of our program are honoured.  <br><br>

              <b>What is the minimum spend?</b><br>
              
              The minimum spend is different for every business and is clearly laid out on their profile.<br>

              We decide the minimum spend together with the small business owner so that it is reasonable and beneficial for everyone. <br><br>

              <b>Can I use Local if I am travelling?</b><br>

              Absolutely!  You can use Local anywhere that you happen to be.  Our goal is to help you find and use small businesses, not to limit you.  <br><br>

              <b>Can I use Local offline?</b><br>

              Yes and no. You won’t be able to search the directory without the internet, but you can absolutely use your membership card.  Simply download your card and you can still access discounts at all your favourite spots.<br>
          </div>
      </section>

      <div style="text-align: center; margin-left: 50px; margin-right: 50px;" id="demo"></div>

</html>