
<!DOCTYPE html>
<%- include('layouts/header'); -%>
<html lang="en">

<body data-spy="scroll" data-target=".fixed-top"><a href="body" class="back-to-top page-scroll" style="display: none;">Back to Top</a>
    
    <!-- Preloader -->
	<div class="spinner-wrapper" style="display: none;">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

          <%- include('layouts/navbar'); -%>
         


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>The Ultimate Loyalty Program</h1>
                            <p class="p-large">Local is a unique membership program designed to help small businesses thrive and communities grow.  Localist’s get 10% off with a minimum spend when they shop at member businesses. 

Check out our directory to search business profiles and learn more about what Local has to offer.

Supporting locally owned small businesses is so important.  It helps the economy, it helps the environment, and now it also helps your budget.

</p>
                            <a class="btn-solid-lg page-scroll" href="">
                                Become a Localist</a>
                                <a class="btn-solid-lg page-scroll" href="">
                                    Learn More</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="https://cdn.pixabay.com/photo/2017/10/26/17/00/shop-2891677_960_720.png" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
              
                
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"></path></svg>
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Image Slider -->
                    <div  class="slider-container">
                        <div class="swiper-container image-slider swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2296.8px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="1">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-3.png" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="2">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-4.png" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="3">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/tokyo-bike-large-e665c13f78f1ff857c63acfe106003071ab5789a56d98e06036cd552a11afb7c.png?quality=50" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="4">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/cee-cees-closet-large-72b3934735d6d9c80ab6e49bb691f0a499d3796886616ef7730d992b64348ca6.png?quality=50" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="5">
                                        <img class="img-fluid" src="ihttps://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/meso-goods-large-3c91df696ae24868cf3158a03b219ad3d59e1cc79cd6bcfd5e00e4caf24f1590.png?quality=50" alt="alternative">
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-active" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="0">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-2.png" alt="alternative">
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-next" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="1">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-3.png" alt="alternative">
                                </div>
                                <div class="swiper-slide" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="2">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-4.png" alt="alternative">
                                </div>
                                <div class="swiper-slide" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="3">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/tokyo-bike-large-e665c13f78f1ff857c63acfe106003071ab5789a56d98e06036cd552a11afb7c.png?quality=50" alt="alternative">
                                </div>
                                <div class="swiper-slide" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="4">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/cee-cees-closet-large-72b3934735d6d9c80ab6e49bb691f0a499d3796886616ef7730d992b64348ca6.png?quality=50" alt="alternative">
                                </div>
                                <div class="swiper-slide swiper-slide-prev" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="5">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/meso-goods-large-3c91df696ae24868cf3158a03b219ad3d59e1cc79cd6bcfd5e00e4caf24f1590.png?quality=50" alt="alternative">
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="0">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-2.png" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="1">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-3.png" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="2">
                                        <img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-4.png" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="3">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/cee-cees-closet-large-72b3934735d6d9c80ab6e49bb691f0a499d3796886616ef7730d992b64348ca6.png?quality=50" alt="alternative">
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 178.8px; margin-right: 30px;" data-swiper-slide-index="4">
                                        <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/logo-soup/meso-goods-large-3c91df696ae24868cf3158a03b219ad3d59e1cc79cd6bcfd5e00e4caf24f1590.png?quality=50" alt="alternative">
                                </div></div> <!-- end of swiper-wrapper -->
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->



  


    <!-- Video -->
    <div id="ourcard" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
<div class="text-container">
                   <h1>What is Local?</h1>
                    
                     <h5 class="text-left">
                     Local is a small business loyalty program that connects customers and business in a meaningful way.  Small businesses are the backbone of our communities, by connecting them with customers everyone benefits! Find out more about how Local functions here.   </h5></div>
<div class="text-container">
                    <h1>Why?</h1>
                    <h5 class="text-left">By using Local you can help your neighborhood thrive! The money you spend locally stays in your community and boosts the local economy.</h5>

                    <h5 class="text-left">
                    Just 100 companies are responsible for 71% of emissions globally.  By supporting small businesses you help to support sustainable business practices.  </h5>
                    <h5 class="text-left">
                    Local will change the way you shop.  With our incentive you will find yourself thinking - can I find this locally? You will save money, time, and energy when shopping or grabbing something to eat.</h5>


                    
                   <!-- <div class="image-container">
                        
                          
                                <img class="img-fluid" src="images/LOCAL-3.png" alt="alternative">
                             
                                
                            
               
                     end of image-container -->
            </div>

                    <div id=""class="p-heading"></div>        
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of video -->

    <!-- Pricing -->
     <!-- end of cards-2 -->
    <!-- end of pricing -->


    <!-- Testimonials -->
    <div  class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">      
                    <div class="text-container">
                   <h1 class="text-center">Featured Businesses</h1>
                   <h4 class="text-center">Here are some of our favourite community members this month!</h4>



                   </div>
                    <!-- Text Slider -->
                    <div class="slider-container">
                        <div class="swiper-container text-slider swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2832px, 0px, 0px);">
                                
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-slide-index="0" style="width: 944px;">
                                    <div class="image-wrapper">
                                        <!--<img class="img-fluid" src="https://eep.io/mc-cdn-images/template_images/gallery/lp-ecomm-logo-3.png" alt="alternative">-->
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-author">
                                             The Dot</div>
                                        <div class="testimonial-text">A cute and modern clothing boutique for all seasons and all occasions</div>
                                        
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 944px;">
                                    <!--<div class="image-wrapper">
                                        <img class="img-fluid" src="images/testimonial-2.jpg" alt="alternative">
                                    </div>--> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                         <div class="testimonial-author">Cafe 23	</div>
                                        <div class="testimonial-text">great coffee and  better company. Read a book or meet a friend and have a cup of coffee.</div>
                                       
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                               <!-- Slide -->
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" style="width: 944px;">
                                    <!--<div class="image-wrapper">
                                        <img class="img-fluid" src="images/testimonial-2.jpg" alt="alternative">
                                    </div>--> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                         <div class="testimonial-author">Kops	</div>
                                        <div class="testimonial-text">browse more records than you	could ever 	listen to</div>
                                       
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                </div> <!-- end of swiper-wrapper -->
                            
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                            <!-- end of add arrows -->

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->

  
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
