<!DOCTYPE html>
<html lang="en">
  <title>How Does it Work?</title>
  <%- include('layouts/header'); -%>
  <link href="css/slideshow.css" rel="stylesheet" />
  <script src="js/slideshow.js"></script>
  
  <body id="page-top"> <!--style="background: linear-gradient(to right, #0062E6, #33AEFF); font-color: white !important;"-->
      <%- include('layouts/navbar'); -%>
      
      

      <!-- Info -->
      <section class="page-section" id="services">
          <h1 style="text-align: center;">HOW DOES IT WORK?</h1><br>
<script src="vendor/jquery/jquery.js"></script>
         

          <div class="container">
          
              Local is a community program that connects customers with small, locally owned, neighborhood businesses.  By shopping within our community you can save 10% on purchases that meet a minimum spend.

              Our directory makes it easy to know where to find things locally.  Find new shops, cafes, and markets in your own backyard.  

              Your Localist membership card is all you need to save.  And no need to add another card to your wallet, you can easily access your card on your phone - even when offline. 
          </div>
      </section>

      <div style="text-align: center; margin-left: 50px; margin-right: 50px;" id="demo"></div>

</html>