<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body id="page-top"> <!--style="background: linear-gradient(to right, #0062E6, #33AEFF); font-color: white !important;"-->
        <%- include('layouts/navbar'); -%>
        
        <!-- Services-->
        <section class="page-section purchasesec" id="services">
            <div class="container">
              <!-- <table style="">
              <th style="font-weight: 100 !important;margin-right: 40px;">-->
              <span><div style="display: inline-block; width: 45%">
                <h1>Order Summary</h1><hr>
                <p>LOCALIST MONTHLY MEMBERSHIP</p><hr>
                <p>Subtotal: $5.00</p>
                <p>Taxes: $0.65</p><hr>
                <p>Total: $5.65</p>
              </div>
              
              <div style=" width: 45%;">
              <h2 class="mt-0">PAYMENT DETAILS</h2><hr>
                <p>CARD TYPE</p><hr>
                <table>
                <tr>
                <th>
                <label>Name on Card</label><br>
                <input></input><br><br>
                </th>
                <th>
                <label>Card Number</label><br>
                <input></input><br><br>
                </th>
                <tr>
                <th>
                <label>Expiry Date</label><br>
                <input></input><br><br>
                </th>
                <th>
                <label>CVC code</label><br>
                <input></input><br><br>
                </th>
                </tr>
                </table>
                <button>Submit</button>
              </div></span>
            </div>
        </section>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
