<!DOCTYPE html>
<html lang="en">
    <!-- Styles -->
    <link href="css/create.css" rel="stylesheet" />
    <title>Add Business</title>
    <%- include('layouts/header'); -%>
    <body class="background-purple purchasesec" >
        <%- include('layouts/navbar'); -%>
        <!-- Main Content -->
            
                    <div id="maincontent" class="container">                                        
          <h1 class="text-center text-white" >Log In</h1>
          <p class="text-center text-white">Don't have an account register <a class="text-white" href ="/sign-up"> here</a>.</p>
          <div class="row" >
              <div class="col-lg-8 col-md-10 mx-auto">
                <form action="/posts/store" method="POST">
                  <div class="control-group">
                 
                
                    <div class="form-group floating-label-form-group controls">
                        <label class="text-white">Email</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                    <div class="form-group floating-label-form-group controls">
                        <label class="text-white">Password</label>
                        <input type="text" class="form-control" 
                          id="title" name="title" >
                    </div>
                   
                 
                  </div>
             
                  
                 
                
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                        id="sendMessageButton">Log in</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
     
      
    
        <%- include('layouts/scripts'); -%>
    </body>
</html>