
<!DOCTYPE html>
<html lang="en">
  <title>Who We Are</title>
  <%- include('layouts/header'); -%>
  <body id="page-top"> <!--style="background: linear-gradient(to right, #0062E6, #33AEFF); font-color: white !important;"-->
      <%- include('layouts/navbar'); -%>
      
      <!-- Services-->
      <section class="page-section" id="services">
          <h1 style="text-align: center;">WHO WE ARE</h1><br>
          <div class="container">
              During the Covid-19 pandemic small businesses were hurting - and we wanted to help.  We made Local as a way to encourage people to shop in their own backyards.  Small businesses are essential to our economies and are a beautiful part of our communities.  By helping provide incentive and giving these businesses much needed exposure, Local aims to increase demand for small business and allow our communities to thrive.  


              We value community, sustainability, and kindness.  As such, all of our small business partners are chosen with care and in accordance with these values.  
 
          </div>
      </section>

      <div style="text-align: center; margin-left: 50px; margin-right: 50px;" id="demo"></div>

</html>